<% layout("layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
           
    <h3>Edit your Listings!</h3>
    <!-- ?_method=put and npm i method-override for convert post requestto put -->
    <form action="/listings/<%= Listing._id %>?_method=put" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= Listing.title %>" class="form-control">
        </div>
       <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name="listing[description]"   class="form-control"><%= Listing.description %></textarea>
       </div>
        <div mb-3>
       <label for="image" class="form-label">Image</label>
        <input type="text" name="listing[image]" value="<%= Listing.image %>" class="form-control">
    </div>
    <div class="row">
         <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input type="number" name="listing[price]" value="<%= Listing.price %>" class="form-control">
         </div>
         <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" value="<%= Listing.country %>" class="form-control">
         </div>
        </div>
       <div class="mb3">
        <label for="location" class="form-label">location</label>
        <input type="text" name="listing[location]" value="<%= Listing.location %>" class="form-control">
    </div>
      
       
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <!-- mt margin top 3 rem-->
        <br>
        <br>
    </form>
</div>
</div>
</body>
