<% layout("layouts/boilerplate") %>
<!-- body is taken and thise will printed everywhere but we need to remove heres html code -->
<style>
  #filters{
    
    display: flex;
    flex-wrap: wrap;/*it i useful when in case of responsive*/
    align-items: center;
  }
  .filter{
    margin-top: 2rem;
    text-align: center;
    margin-right: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;;
    

  } 
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.3rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }

</style>
<body>
  <!-- <%= success %> -->
    <!-- <h3>All Listings</h3> -->
    <!-- adding filters -->
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></i></div>
        <p>Mountains</p>
      </div>
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
      <div class="filter hidden-desktop">
        <div><i class="fa-solid fa-campground"></i></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </div>

      <!-- adding switch -->
      <div class="tax-toggle">
        <!-- form-check-reverse makes first text and then radio button or button -->
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
      </div>
    </div>
    <!-- <form action="/listings/new" method="get">
        <button>create new</button>
       </form> -->
<!-- creating cards -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
<% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id  %>" class="listing-link">
       <div class="card col listing-card">
        <img src="<%= listing.image.url  %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <!-- after setting image height all are equal and remove the card width-->
        <div class="card-img-overlay"></div>
        <!-- card image overlay text is on the image -->
        <div class="card-body">
          <p class="card-text">
          <b> <%= listing.title %> </b>  <br>
           &#8377 <%= listing.price.toLocaleString("en-IN") %> /night <i class="tax-info"> &nbsp; &nbsp;  +18%GST</i>
          </p>
        </div>
      </div>
    </a>
      <% } %>
    </div>

<!-- rough listing -->
    <!-- <ul>
   <% for(let listing of allListings) { %>

    <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
    <% } %>
</ul> -->
  
  <script>
    let taxSwitch=document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
      let taxinfo=document.getElementsByClassName("tax-info");
      // this is collection of multiple elements

      // console.log(taxinfo);
      for(let tax of taxinfo)
      {
        if(tax.style.display !="inline")
        {
          tax.style.display="inline";
        }else{
          tax.style.display="none";
        }
        
      }
    })
  </script> 
   
</body>
