<% layout("layouts/boilerplate") %>
<body>
    <script>
        const mapToken= "<%= process.env.MAP_TOKEN %>";
        const listing= <%- JSON.stringify(Listing)%>;//we must be stringify to convert json to string
    </script>
   <div class="row mt-3">
    <div class="col-8 offset-3">

  
    <h3> <%= Listing.title  %> </h3>
</div>
    <div class="card col-6 offset-3 show-card listing-card">
        
            <img src="<%= Listing.image.url  %>" class="card-img-top show-img" alt="listing_img">
            <div class="card-body">
              <p class="card-text">Owned by
                <i><%= Listing.owner.username %></i> </p>
                <p class="card-text">  <%= Listing.description %></p>
               <p class="card-text"> &#8377;<%= Listing.price.toLocaleString("en-IN") %></p>
               <p class="card-text"><%= Listing.location %></p>
               <p class="card-text"><%= Listing.country %></p>
               
               
               
            </div>
         
    </div>
    <!-- all details are in card now -->
    <!-- <li><%= Listing.title %></li>
    <li><%= Listing.description %></li>
    <li>&#8377;<%= Listing.price.toLocaleString("en-IN") %></li>
    <li><%= Listing.location %></li>
    <li><%= Listing.country %></li> -->
    <br>
    
</div>

    <!-- curruser exist bhi karna chahiye kyon ki oo hum ek middleware ke andar store kar rahe hai isliye kabhi aisa case aye toh jo middleware run naa hoo -->
    <% if(currUser && Listing.owner._id.equals(currUser._id)) { %>
<div class="btns">
    <a href="/listings/<%= Listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>

   
    <!-- delete the listing -->
   
    <form action="/listings/<%= Listing._id %>?_method=DELETE" method="POST">
    <button class="btn btn-dark offset-5">Delete</button></form>

</div>

<% } %>

<div class="col-8 offset-3 mb-3">
    
    <% if(currUser)  { %>
        <hr>
    <h4>Leave a Review</h4>

    <form action="/listings/<%=Listing._id %>/reviews" method="post" novalidate class="needs-validation">
        <!-- <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div> -->
        <!-- fieldset for rating stars -->
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">please add some comments for review!</div>
        </div>
        <button class="btn btn-outline-dark">submit</button>
    </form>
    <% } %>
    <hr>
    <!-- <h4>All Reviews..</h4>
    <ul>
        <% for(review of Listing.reviews) { %>
            <li><%= review.comment %>, <%= review.rating %> stars </li>
            <% }%>


    </ul> -->

    <!-- adding all this in card -->
    <% if(Listing.reviews.length>0)   { %>
        <!-- agar reviews present hai toh hii reviews ko display karo -->
    <div class="row">
        <p><b>All Reviews..</b></p>
    <% for(review of Listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                <p class="starability-result card-text" data-rating="<%= review.rating %>">
                </p>
                <p class="card-text"><%= review.comment %></p>
                <!-- <p class="card-text"><%= review.rating %> stars</p> -->
               
            </div>
            <form action="/listings/<%=Listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3 mt-3" method="post">
                <button class="btn btn-sm btn-dark">delete</button>
            </form>
        </div>
        
        <% }%>
    </div>
    <% } %>
       

</div>
<div class="col-8 offset-3 mb-3">
    <h3>where you will</h3>
    <div id="map"></div>
</div>


<!-- pahele upar ki script run karegi matlab env variable set hoge fir yee niche ki run hogi -->
<script src="/js/map.js"></script>
</body>
